.Mobiles img {
    min-width: 500px;
    max-width: 500px;
    min-height: auto;
    max-height: auto;
    object-fit: cover;
}

.Mobiles .Name,
.Details ul li {
    width: 600px;
}

.Mobiles .Name,
.Price,
.Details ul li,
.AddToCart button {
    transform: translateX(50px);
    text-align: justify;
}

@media only screen and (max-width:576px) {
    .Mobiles {
        display: flex;
        flex-direction: column;
    }

    .Mobiles img {
        min-width: auto;
        max-width: auto;
    }

    .Mobiles .Name,
    .Details ul li {
        min-width: 250px;
        max-width: 250px;
    }
}

@media only screen and (min-width:576px) and (max-width:768px) {
    .Mobiles {
        display: flex;
        flex-direction: column;
    }

    .Mobiles img {
        min-width: auto;
        max-width: auto;
    }

    .Mobiles .Name,
    .Details ul li {
        min-width: 500px;
        max-width: 500px;
    }
}